# Public links (Astro inlines PUBLIC_* at build time)
PUBLIC_BOOKING_URL=https://cal.com/kuyacarlo
PUBLIC_EMAIL=santos.karlo@outlook.com
PUBLIC_LINKEDIN_URL=https://linkedin.com/in/kuyacarlo
PUBLIC_GITHUB_URL=https://github.com/kuyacarlo
PUBLIC_DEVTO_URL=https://dev.to/kuyacarlo
PUBLIC_STATUS_URL=https://status.kuyacarlo.dev
